<% page_info :title => "Your Projects" %>

<ul class="projects">
  <li>
    <h3><a href="/project">Tender Support</a></h3>
    <p>3 active burndowns</p>
  </li>
  <li>
    <h3><a href="/project">Tender Support</a></h3>
    <p>3 active burndowns</p>
  </li>
  <li>
    <h3><a href="/project">Tender Support</a></h3>
    <p>3 active burndowns</p>
  </li>
  <li>
    <h3><a href="/project">Tender Support</a></h3>
    <p>3 active burndowns</p>
  </li>
</ul>