<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= @title %> &ndash; Burndown</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css" charset="utf-8" />
    <!--[if IE 6]>
      <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
      <link href="/css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="superheader">
      <ul id="nav">
        <li><a href="/">My Projects</a></li>
        <li><a href="/timeline" class="selected">Timeline &amp; Graph</a></li>
        <li><a href="/setup">Setup</a></li>
      </ul>
      <p class="welcome">
        <strong class="miniapp">Burndown</strong>
        authorized via
        <a href="#">kneath &rarr;</a>
      </p>
    </div><!-- /#superheader -->
    <div id="titlebar">
      <div class="inner">
        <% if @breadcrumb %>
          <p><%= @breadcrumb.join(" / ") %></p>
        <% end %>
        <h1><%= @title %></h1>
      </div>
    </div><!-- /#titlebar -->
    <div id="content">
      <%= yield %>
    </div><!-- /#content -->
    <div id="footer">
      <p><strong>Burndown</strong> was created by <a href="http://kyleneath.com">Kyle Neath</a>.  Made with love for <a href="http://lighthouseapp.com">Lighthouse</a>.</p>
    </div>
  </body>
</html>