<% page_info :title => "Pick a Milestone",
              :breadcrumb => [ link_to(@project.token.account, "/") ] %>

<ul class="projects">
  <li>
    <h3><%=h @project.name %></h3>
    <p>3 active burndowns</p>
    <ul class="milestones">
      <li>
        <h4><a href="/timeline">May Release</a></h4>
        <p>Due in 10 days</p>
      </li>
      <li>
        <h4><a href="/timeline">May Release</a></h4>
        <p>Due in 10 days</p>
      </li>
      <li>
        <h4><a href="/timeline">May Release</a></h4>
        <p>Due in 10 days</p>
      </li>
    </ul>
  </li>
</ul>