/* Contains master styles for main layout, typography and page styles */

/*------------------------------------------------------------------------------------
  @group Global Reset
------------------------------------------------------------------------------------*/
body { padding:0; margin:0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; padding:0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

/* @end */

/*------------------------------------------------------------------------------------
  @group Main Layout
------------------------------------------------------------------------------------*/

#superheader, #titlebar .inner, #content, #footer{
  margin:0 auto;
  width:800px;
}

#superheader{
  padding:8px 0;
  height:16px;
}
ul#nav{
  margin:0;
  float:left;
}
ul#nav li{
  list-style-type:none;
  margin:0 20px 0 0;
  display:inline;
}
ul#nav a{
  color:#888;
  font-weight:normal;
}
ul#nav a:hover{
  text-decoration:underline;
  color:#333;
}
ul#nav a.selected{
  font-weight:bold;
  color:#000;
}
#superheader p.welcome{
  margin:0;
  float:right;
  color:#888;
}
#superheader p.welcome strong.miniapp{
  color:#990000;
}
#superheader p.welcome a{
  font-weight:bold;
  color:#000;
}

#titlebar{
  background:#006699;
  border-top:1px solid #00476b;
  border-bottom:2px solid #00476b;
  color:#fff;
}
#titlebar .inner{
  padding:20px 0 15px 0;
}
#titlebar p{
  margin:0;
  color:#8cbdd6;
  font-size:18px;
  letter-spacing:-1px;
}
#titlebar a{
  color:#8cbdd6;
  font-weight:normal;
}
#titlebar a:hover{
  color:#fff;
  text-decoration:underline;
}
#titlebar h1{
  margin:0;
  font-size:36px;
  letter-spacing:-2px;
}

#footer{
  padding:10px 0 50px 0;
  color:#666;
  border-top:3px solid #333;
}
#footer p{
  margin:0;
}
#footer p strong{
  color:#000;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Type
------------------------------------------------------------------------------------*/

body{
  background:#fff;
  color:#000;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
}

a{
  text-decoration:none;
  font-weight:bold;
  color:#006699;
}
a:hover{
  color:#0095df;
}

h2{
  margin:0;
  font-size:18px;
}

em.positive{
  font-style:normal;
  color:#006407;
}
em.negative{
  font-style:normal;
  color:#990000;
}

p.overview{
  margin:20px 0;
  font-size:16px;
  color:#999;
  line-height:1.5;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Timeline
------------------------------------------------------------------------------------*/

ol.timeline{
  margin:20px 0;
}
ol.timeline>li{
  position:relative;
  list-style-type:none;
  margin:10px 0;
  padding:20px 20px 20px 120px;
  background:#f5f5f5;
}
ol.timeline>li:nth-child(even){
  background:#fff;
}
ol.timeline>li>h3{
  position:absolute;
  top:50%;
  left:20px;
  margin:-5px 0 0 0;
  color:#666;
  font-size:12px;
  text-transform:uppercase;
}
ol.timeline>li>.big{
  position:absolute;
  top:50%;
  right:20px;
  margin-top:-18px;
  font-size:36px;
  font-weight:bold;
  color:#bbb;
  text-shadow:#fff 0 2px 1px;
}

ol.timeline ul.events{
  margin:0;
  border-left:1px solid #ccc;
}
ol.timeline ul.events>li{
  list-style-type:none;
  margin:5px 0;
  padding-left:15px;
  font-size:12px;
  color:#333;
}
ol.timeline ul.events>li strong{
  color:#000;
}
ol.timeline ul.events>li em{ font-weight:bold; }

/* @end */

/*------------------------------------------------------------------------------------
  @group Project Listing
------------------------------------------------------------------------------------*/

ul.projects{
  margin:20px 0;
}
ul.projects li{
  list-style-type:none;
  margin:10px 0;
  padding:10px;
  border:1px solid #ddd;
}
ul.projects li h3{
  margin:0;
  font-size:20px;
  letter-spacing:-1px;
}
ul.projects li p{
  margin:0;
  color:#999;
}
ul.projects li h3 a{
  display:block;
}
ul.projects li h3 a em{
  font-style:normal;
  color:#999;
}

ul.projects ul.milestones{
  border-top:1px solid #ddd;
}
ul.projects ul.milestones li{
  border:none;
  padding:0;
}
ul.projects ul.milestones h4{
  margin:0;
  font-size:14px;
}
ul.projects ul.milestones h4 a.past_due, .past_due{
  color:#860000;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Forms
------------------------------------------------------------------------------------*/

div.form{
  margin:20px 0;
}

dl.form{
  margin:15px 0;
}
dl.form dt{
  margin:0;
  color:#000;
  font-weight:bold;
}
dl.form dd{
  margin:3px 0 0 0;
  font-size:16px;
  color:#000;
}
.form p{
  font-size:16px;
}

input[type=text]{
  font-family:Helvetica, Arial, sans-serif;
  padding:5px 10px;
  width:95%;
  font-size:16px;
  color:#000;
  background:#fff;
}
input[type=text].short{
  width:100px;
}

ul.form-actions{
  margin:15px 0;
  text-align:right;
}
ul.form-actions li{
  display:inline;
  list-style-type:none;
  margin:0 0 0 10px;
}
ul.form-actions button{
  font-size:16px;
  -webkit-appearance:push-button;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Graphs
------------------------------------------------------------------------------------*/

.graph{
  margin:20px 0;
  padding:10px 2px;
  border:3px solid #ddd;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Tab Group
------------------------------------------------------------------------------------*/

.tab-group{
  margin:20px 0;
  border-top:1px solid #ddd;
}

.tab-group ul.tabs{
  margin:0;
  float:left;
  width:270px;
}
.tab-group ul.tabs li{
  list-style-type:none;
  margin:0;
  padding:10px 10px 10px 0;
  border-bottom:1px solid #ddd;
}
.tab-group ul.tabs li a{
  display:block;
}
.tab-group ul.tabs li a.selected{
  color:#000;
}

.tab-group .tab-content{
  margin-left:270px;
  border-left:1px solid #ddd;
  padding-left:10px;
  padding-bottom:10px;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Setup Page
------------------------------------------------------------------------------------*/

.setup ul.tabs a{
  font-size:14px;
}
.setup ul.tabs a em{
  display:block;
  font-style:normal;
  font-weight:normal;
  color:#999;
  font-size:12px;
}
.setup .token{
  display:block;
  margin-top:5px;
  color:#888;
}

.setup .title{
  position:relative;
  margin-left:-10px;
  margin-bottom:15px;
  width:100%;
  padding:10px 0 10px 10px;
}
.setup .title h2{
  margin:0;
  font-size:22px;
  font-weight:normal;
  color:#333;
}
.setup .title h2 em{
  font-style:normal;
  color:#000;
}
.setup .accesslevel{
  position:absolute;
  top:15px;
  right:0;
  margin:0 10px 0 0;
  text-transform:uppercase;
  font-size:11px;
  color:#666;
}
.setup .title p{
  margin:5px 0 0 0;
  color:#666;
  line-height:1.5;
}

.setup .project{
  margin:5px 0;
  padding:10px;
  border:1px solid #ddd;
  background:#f1f1f1;
}
.setup .project.active{
  background:#fff;
}
.setup .project .state{
  float:right;
  margin-top:3px;
  font-weight:bold;
}
.setup .project.inactive .state{
  color:#999;
}
.setup .project.active .state a{
  color:#990000;
}
.setup .project h3{
  margin:0;
  font-weight:normal;
  font-size:16px;
}
.setup .project.inactive h3{
  color:#999;
}
.setup .project h3 em{
  font-style:normal;
  color:#999;
}
.setup .project p{
  margin:5px 0 0 0;
  color:#666;
}

#token_form{
  position:relative;
}
#token_form .loader{
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -150px;
  width:260px;
  height:60px;
  padding:20px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  opacity: 0.9;
  background:#000;
  color:#fff;
  font-size:12px;
  text-align:center;
  line-height:60px;
  font-size:16px;
}
#token_form .loader.error{
  background:#990000;
}

.message{
  font-weight:bold;
  font-size:12px;
  color:#000;
}
.message.error{
  color:#990000;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group Progress Widget
------------------------------------------------------------------------------------*/

.progress{
  margin:20px 0;
}

.progress ul.stats{
  margin:0 0 10px 0;
  height:50px;
}
.progress ul.stats li{
  list-style-type:none;
  margin:0;
  float:left;
  width:266px;
  height:50px;
  text-align:center;
  border-left:1px solid #ddd;
}
.progress ul.stats li:first-child{
  border-left:none;
}
.progress ul.stats strong{
  display:block;
  font-size:30px;
  color:#999;
}
.progress ul.stats span{
  color:#666;
}

.progress-bar{
  height:25px;
  background:#f1f1f1;
  border:2px solid #eee;
}
.progress-bar .bar{
  display:block;
  height:25px;
  background:#009936;
}

/* @end */

/* Such a hack... */
a.lh-link{
  margin-top:-80px;
  float:right;
  padding:7px 10px;
  color:#fff;
  background:#00344e;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}
a.lh-link:hover{
  background:#008acf;
}